{% load vue_tags %}
{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <meta charset="utf-8"/>
    <title> games </title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

</head>

<body class="{% block body_class %}{% endblock %}">
<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
      </a>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/" class="nav-link px-2 link-secondary">Home</a></li>
      </ul>

      <div class="col-md-3 text-end">
        <a href="{% url 'user:login' %}"><button type="button" class="btn btn-outline-primary me-2">Login</button></a>
              <a href="{% url 'user:registration' %}"><button type="button" class="btn btn-primary">Sign-up</button></a>
      </div>
    </header>


{% block content %}

{% endblock %}

</body>
{% vue_starter %}
{% block extra_js %}
{% endblock %}
</html>