{% extends 'base.html' %}

{% block content %}
    <div>
        <div class="text">
            welcome
        </div>
        <br>
        <div class="form-control" id="fileUpload">
            <validation-observer ref="form" v-slot="{ handleSubmit }" mode="lazy">
                <form @submit.prevent="handleSubmit(submit)" novalidate="true" method=POST enctype=multipart/form-data>
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="name" class="control-label">Upload csv file </label>
                        <div class="col-md-5">
                            <validation-provider name="csv_file" rules="required"
                                                 v-slot="{ errors, valid, invalid, validated, touched }" tag="div"
                                                 class="form-group">
                                <input type="file" name="csv_file" id="csv_file" class="form-control">
                                <span v-for="error in errors" :key="error" class="invalid-feedback"
                                      style="display: inline">{( error )}</span>
                            </validation-provider>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3 col-sm-3 col-xs-12 col-md-offset-3" style="margin-bottom:10px;">
                            <br>
                            <button class="btn btn-primary">Upload</button>
                        </div>
                    </div>
                </form>
            </validation-observer>
        </div>
        <br>

        <div>
            <a href="">
                <button class="btn-default">show score</button>
            </a>

            <br>

        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script>
        {% include 'upload_file.js' %}
    </script>
{% endblock %}